*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(12,3,51,0.3)); */
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    width: 90px;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}
.content{
    text-align: center;
}

.content h1{
    font-size: 100px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    transition: 0.5s;
}
.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
.content{
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    
}
.content a{
    display: inline-block;
    font-size: 24px;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 3px;
}
/* .content a :hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
} */
.vid{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    background: no-repeat;
    background-size: cover;
    
}
@media (max-aspect-ratio: 16/9){
    .vid{
        width: auto;
        height: 100%;
    }
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-top: 50px;
}
.content2{
    margin-left:100px ;
    font-size: 30px;
}


    
.img{
    width: 30vw;
    margin-right: 40px;
}
span{
    color: rgb(74, 16, 129);
}
.title{
    margin-top: 40px;
    display: flex; 
    /* display: inline-block; */
    justify-content:center;
    color: #fff;;
    font-size: 40px;
    padding: 10px;
    font-weight: 800;
    margin-bottom:30px ;
    background-color: rgb(74, 16, 129); ;
}
/* 
    margin-top: 40px;
    display: flex; 
    justify-content:center;
    color: #fff;;
    font-size: 30px;
    padding: 10px;
    font-weight: 800;
    margin-bottom:30px ;
    background-color: rgb(74, 16, 129);  */
.content{
    color: rgb(74, 16, 129);
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color:#fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(74 16 129/15%);
    border-radius: 20px;
    padding: 25px;
    margin: 15px;


}
.card:hover{
    transform: scale(1.1);
}

.title1{
    margin-top: 40px;
    display: flex; 
    justify-content:center;
    color: #fff;;
    font-size: 25px;
    padding: 10px;
    font-weight: 800;
    margin-bottom:30px ;
    background-color: rgb(74, 16, 129); 
}






@media screen and (max-width:600px){
    

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}


.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 26px 8%;
    display: flex;
    align-items: center;

}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
/* padding-right: 94px; */
display: flex;
margin-top: 4PX;
}
.content{
    text-align: center;
}

.content h1{
    font-size: 60px;
    color: #fff;
    font-weight: 900;
    text-align: center;
    transition: 0.5s;
}

.content a{
    font-size: 15px;
    padding: 14px 70px;
    margin-top: 3px;

}

.vid{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    background: no-repeat;
    background-size: cover;
    margin-right: 0.1px;
}
@media (max-aspect-ratio: 16/9){
    .vid{
        width: auto;
        height: 100%;
    }
}
.about{
    display:inline-block;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-top: 50px;
}
.content2{
    margin-left:0.1%;
    font-size: 18px;
    text-align: center;
    
}
.content2 p {
    padding: 20px;
}


    
.img{
    width: 50vw;
    margin-right: 50px;
    display: inline-block;
    position:relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
span{
    color: rgb(74, 16, 129);
}
.title{
    margin-top: 40px;
    display: flex; 
    justify-content:center;
    color: #fff;;
    font-size: 30px;
    padding: 10px;
    font-weight: 800;
    margin-bottom:30px ;
    background-color: rgb(74, 16, 129); 
}
.content{
    color: rgb(74, 16, 129);
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color:#fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(74 16 129/15%);
    border-radius: 20px;
    padding: 25px;
    margin: 15px;


}
.icon{
    color: rgb(74, 16, 129);
    font-size: 3em;
    text-align: center;
}
.card:hover{
    transform: scale(1.1);
}  
.title1{
    margin-top: 40px;
    display: flex; 
    justify-content:center;
    color: #fff;;
    font-size: 20px;
    padding: 10px;
    font-weight: 800;
    margin-bottom:30px ;
    background-color: rgb(74, 16, 129); 
}
}
.Certificates img{
    width: 100%;
    height: auto;
    margin-top: 30px;
}
.canva{
    position: relative;
     width: 100%; height: 0;
      padding-top: 141.4286%;
    padding-bottom: 0;
      margin-top: 1.6em;
       margin-bottom: 1px;
       overflow: hidden;
    border-radius: 20px; 
    will-change: transform;
  }
  iframe{
     position: absolute;
     height: 70% !important;
    border-radius: 20px;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     border: none;
     padding: 0;
    margin: 0;
  }
.center{
  
  margin: auto !important;
  width: 60% !important;
  padding: 1px !important;



}
.contact{
    background-color: #f5f5f5;
}
.contact h2{
text-align: center;
font-weight: 900;
font-size: 30px;
padding-top: 100px;
padding-bottom: 20px;
}
.container2{
    display: block !important;
    text-align: center;
}
.form{
    margin: 30px;

}
.email{ 
    width: 300px;
    height: 60px;
    border-radius: 20px;
    outline: none;
    border: none;
    padding-left: 20px;
    background-color: #f5f5f5;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.16); 
}
.massage{
    width: 300px;
    height: 100px;
    border-radius: 20px;
    outline: none;
    border: none;
    padding-left: 20px;
    background-color: #f5f5f5;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.16); 
}
.registerbtn{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    width: 100px;
    background-color: #4389df;
    color: #fff;
    border-radius: 40px;
    border: 2px solid #4389df;
    padding: 10px;
    border-radius:20px;
}
.registerbtn:hover{
    transition: 0.7s ease;
    transform: scale(1.1);
    background-color:#4389dfc4 ;
}
.coopyrit{
    background-color: #000016;
    color: #fff;
    padding:20px;
    padding-top: 20px;
    box-sizing: border-box;
    padding-bottom: 20px;
    display: flex; 
}
.t1{
    width: 80%;
}
.t2{
    width: auto;
    font-size: 12px;
    margin-top: 20px;
    width: 60%;
}
.bold{
    font-weight: 900;
}

.soc{
    margin-right: 1px; 
    padding-bottom: 30px;
}
.soc i{
padding: 6px;
text-align: end;
}

@media (min-width:315px) and (max-width:791px){
  .center{
  
    margin: auto !important;
    width: 100% !important;
    padding: 1px !important;
  
  
  }
  iframe{
    position: absolute;
    height: 100% !important;

    width: 100%;
    height: 60% !important;
    top: 0;
    left: 0;
    border: none;
    padding: 0;
   margin: 0;
 }
}

